main {
    text-align: center;
}

header {
    text-align: center;
    font-family: Courier New;
    font-size: 40px;
}

#quote-text {
    text-align: center;
    margin: 10px; 
    font-size: 18px;
    font-family: comic sans MS;
    font-style: italic;
}

.div-left{
    float:left;
    width: 40%;
    margin-top: 30px;
    margin-left: 75px;
    text-align: center;
}
.div-right{
    float:right;
    width: 40%;
    margin-top: 30px;
    margin-right: 20px;
    text-align: left;
    font-size: 20px;
    padding-top: 0px;
}

.title{
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 35px;
    margin: 0px;
}

.property-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 0px;
}

.info-text {
    font-weight: normal;
    font-size: 18px;
}

button:focus {
    outline: none;
}

button:hover {
    background: #9b59b6;
}

#button-wrapper {
    width: 450px;
    text-align: center;
    padding: 0 100px;
    box-sizing: border-box;
    -webkit-transition: .3s all ease .3s;
    transition: .3s all ease .3s;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
}

button {
    width: 100%;
    background: #8e44ad;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
}

button p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    max-height: 40px;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

button .fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0%;
    background: #8e44ad;
    border-radius: 50px;
}

button .fa {
    font-size: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 50px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

#button-wrapper.clicked {
    padding: 0;
}

#button-wrapper.clicked button {
    background: #ccc;
    margin-top: 25px;
}

#button-wrapper.clicked button p {
    max-height: 0;
    overflow: hidden
}

#button-wrapper.clicked button .fill {
    width: 100%;
    -webkit-transition: .3s all ease .3s;
    transition: 2s all ease .6s;
}

#button-wrapper.success button {
    margin: 0;
    padding: 25px;
    width: 50px;
}

#button-wrapper.success button .fa {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s all ease .3s;
    transition: .3s all ease .3s;
}



