* {
    box-sizing: border-box;
    background-color: black;
}

/* .div-left{
    margin-top: 60px; 
    margin-left: 60px;
    border: 1px solid red;
    display: inline-block; 
} */

.div-right{
    color: white;
    margin: auto;
    text-align: left;
    font-size: 20px;
    border: 1px solid red;
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    /* .col-3 {width: 30%;}
    .col-6 {width: 50%;} */
}

/* @media only screen and (max-width:768px) {
    .col-3 {
        width: 80%;
    }
    .col-6 {
        width: 80%;
    } 
}  */


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
    }
     
    
    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%; 
        /* max-width: 500px; */
        height:100%;
    }

#video-outer-container {
    width: 80%; 
    max-width: 640px;
    margin: 0 auto;
    border: 1px solid green;
}

main {
    text-align: left;
    display: inline-block
}

header {
    margin-top: 70px; 
    margin-left: 50px;
    color: white;
    text-align: left;
    font-family: Courier New;
    font-size: 40px;
    display: inline-block;
}

#quote-text {
    text-align: center;
    margin: 10px; 
    font-size: 18px;
    font-family: comic sans MS;
    font-style: italic;
    color: white;
}



.title{
    color: white;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 35px;
    margin: 0px;
}

.property-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 0px;
}

.info-text {
    font-weight: normal;
    font-size: 18px;
    color: white;
}

#button {
    padding: 20px;
    border: none;
    background-color: #2DDDFF;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    margin-left: 80px;
  }
  
  #button:hover, #button:focus {
    background-color: #2DDDFF;
    color: black;
  }


