* {
    box-sizing: border-box;
    background-color: black;
}

/* loader properties */

.loader-container {
    height: 40px;
}

#ballsWaveG{
	position:relative;
	width:125px;
	height:29px;
	margin:auto;
}

.ballsWaveG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:16px;
	height:16px;
	animation-name:ballsWaveG;
		-o-animation-name:ballsWaveG;
		-ms-animation-name:ballsWaveG;
		-webkit-animation-name:ballsWaveG;
		-moz-animation-name:ballsWaveG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:8px;
		-o-border-radius:8px;
		-ms-border-radius:8px;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
}

#ballsWaveG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#ballsWaveG_2{
	left:16px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#ballsWaveG_3{
	left:31px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#ballsWaveG_4{
	left:47px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#ballsWaveG_5{
	left:62px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#ballsWaveG_6{
	left:78px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#ballsWaveG_7{
	left:94px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#ballsWaveG_8{
	left:109px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}


@keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}


.button {
    padding: 10px;
    border: none;
    background-color: #16FEB2;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 0px auto 20px;
  }
  
  .button:hover, .button:focus {
    background-color: #14E6DC;
    color: black;
  }

.disabled {
    color: white;
    background-color: grey;
    pointer-events: none;
}

#container {
    width: 90%;
    margin: auto;
    position: relative;
}

.instructions {
    text-align: center;
}

p {
    color: white;
}

header {
    font-size: 28px;
    text-align: center;
    margin: 10px 0px 20px;
    color: white;
    font-family: Courier New;
}

.title{
    text-align: left;
    color: white;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 20px;
    margin: 40px 0px 10px;
}

.property-name {
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 0px;
}

.info-text {
    font-weight: normal;
    font-size: 15px;
    color: white;
}

.div-right {
    padding-left: 40px;
    padding-right: 40px;
}


.video-container {
    border: 1px solid white;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
    }
     
    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%; 
        height:100%;
    }

    
@media only screen and (min-width: 760px) {
    header {
        margin-top: 30px;
    }
    
    .instructions {
        margin-top: 50px;
    }
    
    .title{
        margin: 0px;
    }

    .div-left{
        margin-top: 20px;
        width: 60%;
        float: left;
    }
    
    .div-right{
        /* border: 1px solid red; */
        margin-top: 20px; 
        color: white;
        width: 40%; 
        float: left;
        padding-left: 60px;
        padding-right: 40px;
        padding-top: 40px;
    }
    
    .property-name {
        font-size: 18px;
    }

    .info-text {
        font-size: 16px;
    }

    .group:before,
    .group:after {
        content: "";
        display: table;
    }
    
    .group:after {
        clear: both;
    }
    
    .group {
        zoom: 1;
    }
}

